* @Jukerony @YuriySavlukov
**/*.csproj @aruaam @AkiMind @Daruii @Jukerony @lex019020 @nnemirovsky @TranspersonalPsy @YumiHasegawa @YuriySavlukov
**/Const.h @aruaam @AkiMind @Daruii @Jukerony @lex019020 @nnemirovsky @TranspersonalPsy @YumiHasegawa @YuriySavlukov
**/version.h @aruaam @AkiMind @Daruii @Jukerony @lex019020 @nnemirovsky @TranspersonalPsy @YumiHasegawa @YuriySavlukov