* @Jukerony @YuriySavlukov
**/*.csproj @aruaam @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov
**/Const.h @aruaam @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov
**/version.h @aruaam @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov