* @Jukerony @YuriySavlukov
**/*.csproj @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov
**/Const.h @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov
**/version.h @AkiMind @Jukerony @lex019020 @nnemirovsky @YumiHasegawa @YuriySavlukov